@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/base";
@import "./base/reset";
@import "./base/typography";
@import "./components/buttons";
@import "./components/carousel";
@import "./components/cover";
@import "./components/dropdown";
@import "./layouts/header";
@import "./layouts/container";
@import "./layouts/footer";
@import "./layouts/forms";
@import "./layouts/grid";
@import "./layouts/navigation";
@import "./layouts/sidebar";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
@import "./pages/home";
@import "./pages/contact";
@import "./vendors/bootstrap";
@import "./themes/theme";
@import "./themes/admin";

//Test
.block{
    &__heading{
        color: $color-primary;
        font-size: 3em;
        font-weight: bold;
    }
    &__paragraph{
        color: $color-secondary;
    }
}







