<<<<<<< HEAD
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/base";
@import "./base/reset";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
@import "./vendors/bootstrap";

//Test
.block{
    &__heading{
        color: $color-primary;
        font-size: 3em;
        font-weight: bold;
    }
    &__paragraph{
        color: $color-secondary;
    }
}
=======


@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';
@import 'themes/admin';
>>>>>>> dbdf18d7962e600d4229ea51520d2464fdc585e2
