// Sass Variables
$color-primary: #70de15;
$color-secondary: #a101a7;
$color-secondary-text: #FFFFFF;
$color-link-footer: #ADCCE9;

// Footer
$background-color-footer: #333333;
$link-hover-footer : grey;

