// Sass Variables
$color-primary: black;
$color-secondary: #FFFFFF;
$link-hover: grey;

//Background-color
$background-color-primary: #f2f2f2;
$background-color-secondary: #333333;


// Footer variables color text
$color-link-footer: #ADCCE9;

//Footer links map
$links-mods : (
    initial : $color-link-footer,
    hover : $link-hover, 
);

//Chemin image
$imgpath: '../../public/images/';