// Sass Variables
$color-primary: black;
$color-secondary: #FFFFFF;

// Footer variables color text
$color-link-footer: #ADCCE9;
$background-color-secondary: #333333;
$link-hover-footer : grey;

//Footer links map
$links-mods : (
    initial : $color-link-footer,
    hover : $link-hover-footer, 
);


$imgpath: '../../public/images/';