// Footer

.footer{
    @include container($color:$color-secondary , $bg:$background-color-secondary);
    font-size: map-get($font-size,text);
    line-height: 1.6;
    &__block{
        width: 65%;
        margin: auto;
    }
    &__link{
        color: $color-link-footer;
        &:hover{
            text-decoration: none;
            color:$link-hover-footer;
        }
    }
}
.footer__section, .footer__paragraph{
    padding: 2em;
}