// Footer

.footer{
    @include container($color:$color-secondary , $bg:$background-color-secondary);
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.6;
    &__link{
        color: map-get($links-mods , initial );
        &:hover{
            text-decoration: none;
            color:map-get($links-mods , hover );
        }
    }
}
.footer__section, .footer__paragraph{
    padding: 2em;
}